.log-tit
  margin 30px 0 10px
  text-align left
  font-size: 20px
  font-weight: bold
  font-size: 24px

#step-2
  display none

.bindMobile-wrap
  .tips
    border-top 1px solid #eee
    padding 10px 0 60px
    color: #999
  .guide
    margin-bottom 50px
    .guide-item
      width 33%
      float: left
      padding-bottom 5px
      font-size: 24px
      text-align center
      color: #999
      border-bottom 5px solid #999
      box-sizing content-box
      &.active
        color: #c29949
        border-color #c29949
  .form-wrap
    .form-control
      position relative
      margin-bottom 45px
      .form-lab
        display inline-block
        width 185px
        font-size: 16px
        line-height 60px
        text-align right
      .mobile-text
        display inline-block
        font-size: 16px
      .form-inp, .form-select
        border-radius 5px
        padding 20px 25px
        font-size: 15px
        border: 1px solid #c29949
        width 440px
        box-sizing border-box
      .captchCode-img
        position relative
        z-index -1
        margin-left 30px
        vertical-align: middle
      .btn
        background-color: #8cc152
        padding 10px 40px
        font-size: 20px
        border-radius 99px
        font-weight: bold
      .hint-err
        position absolute
        top 70px
        left 0
        line-height 14px
        color: red
        .form-lab
          line-height 14px

.getvCode
  font-size: 20px
  margin-left 30px
  border-radius 5px
  background-color: #eee
  height 60px
  padding 0 20px
  vertical-align: top
  color: #333
  cursor pointer

#successModal
  .modal-body
    padding 20px
    .success-icon
      margin 0 auto
      width 177px
      height 177px
      background-image: url(../../../img/success.png)
    .text
      margin 25px 0 60px
      color: #333
      font-size: 24px
    .detail
      margin-bottom 5px
      font-size: 18px
    .date
      margin-bottom 40px
      color: #999
    .close-mask
      display block
      width 100px
      margin 0 auto
      padding 8px 35px
      font-size: 18px
      border-radius 99px
      background-color: #8cc152
      font-weight: bold
      color: #fff
      margin-bottom 20px


