.notice
  position fixed
  top 25px
  left 42%
  right 42%
  padding 10px 20px
  background-color: rgba(0, 0, 0, .7)
  color: #fff
  text-align center
  border-radius 5px
  animation FADE 2.5s


@media only screen and (max-width: 1680px)
  .notice
    left 36%
    right 36%

@keyframes FADE {
  0% {
    opacity: 0
  }

  15% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}