<div class="user-center-header fix">
    <div class="header-wrap fix">
        <a href="../../index.html" class="logo">
            <i class="icon"></i>
            <p class="text">快币浏览器 · <span>区块链世界的传送门</span></p>
        </a>
        <ul class="nav-list fix">
            <li class="item">
                <a href="../../index.html" class="">首页</a>
            </li>
            <li class="item">
                <a href="../../candy_news.html">领糖果</a>
            </li>
            <li class="item">
                <a href="../../telegram.html">电报群</a>
            </li>
            <li class="item">
                <a href="../../invite.html">邀请注册</a>
            </li>
            <li class="item">
                <a href="">意见反馈</a>
            </li>
        </ul>
        <p class="methods-wrap" style="padding: 20px 0">
            <a href="../log/sign.html">登录</a> / <a href="../log/register.html">注册</a>
        </p>
        <a class="userName-wrap" href="../../user/default.html">
            <p class="user-text-info">
                <span id="header-userName" style="margin-bottom: 3px;display: block;font-size: 12px;"></span>
                <span id="header-vip-time" style="font-size: 12px;"></span>
                <span class="btn xufei"
                      style="display: inline-block;padding: 2px 7px;border-radius: 99px;background-color: #8cc152;margin-left: 5px;font-size: 12px;color: #fff;">续费</span>
            </p>
        </a>
        <div id="avatar">
            <div class="user-info-wrap fix">
                <a href="../../user/default.html" class="avatarhref"></a>
                <div class="user-info-header">
                    <div class="border"></div>
                    <div class="head">
                        <p class="left">
                            <span class="avatar"></span>
                            <span class="userName"></span></p>
                        <a href="javascript:;" id="logout">退出</a>
                    </div>
                    <!--<p class="vipTime"><span class="time" style="font-size: 13px;margin-right: 10px"></span><a-->
                    <!--href="../../user/vip.html" class="add_vip">续费</a></p>-->
                </div>
                <div class="user-info-body fix">
                    <a href="../../user/default.html" class="item">
                        <span class="icon def"></span>
                    </a>
                    <a href="../../user/candyShop.html" class="item">
                        <span class="icon candy-shop"></span>
                    </a>
                    <a href="../../user/vip.html" class="item">
                        <span class="icon vip"></span>
                    </a>
                    <a href="../../user/myWallet.html" class="item">
                        <span class="icon my-wallet"></span>
                    </a>
                    <a href="../../user/setting.html" class="item">
                        <span class="icon setting"></span>
                    </a>
                    <p class="icon-name">
                        <span>邀请注册</span>
                        <span>糖果商城</span>
                        <span>快币VIP</span>
                        <span>我的钱包</span>
                        <span>个人设置</span>
                    </p>
                </div>
                <p class="node-tips">连接节点<span id="node-error-text">节点连接失败，请检查网络或更换节点。</span></p>
                <ul class="node-list fix">
                </ul>
            </div>
        </div>
    </div>
</div>


