<div class="cjdl-modal" data-name="overdue" style="display: none">
    <div class="modal-wrap">
        <div class="modal-body overdue-body">
            <i class="close-modal">x</i>
            <div class="due"></div>
            <p class="tit-1">您的VIP已到期</p>
            <p class="tit-2">充值/邀请好友即可重新获得VIP特权</p>
            <div class="btn-wp">
                <a class="btn" style="background-color: #fff;color: #8cc152;cursor: pointer">立即充值</a>
                <a class="btn" style="color: #fff;cursor: pointer">邀请好友</a>
            </div>
        </div>
    </div>
</div>