@import "./user.styl"
.prize-wrap
    display block
    .tit
        margin: 30px 0 20px;
        color: #c29949;
        text-align: center;
        font-size: 24px;
        span
            color: #333
            font-size: 18px
            background-color #f9f8f6
            float right
            padding 10px 20px
            cursor pointer
            &.ling
                border-radius: 0 17px  17px 0
            &.zhong
                border-radius: 17px 0  0 17px
            &.active
                background-color: #fcedbd
                border-radius: 17.5px
    .rank-wrap
        margin-top 37px
        height 309px
        background-color: #f9f8f6
        padding 10px
        border-radius: 10px
        position relative
        .title
            color: #333333
            font-size: 18px
            text-align:  center
        .rank-num
            font-size: 48px
            color: #ff0000
            text-align: center
            span
                color: #333333
                font-size: 18px
                text-align:  center
                padding 0 5px
        .icon
            width 16px
            height 30px
            background-position: center
            background-repeat: no-repeat
            position absolute
            top 50%
            transform: translateY(-50%)
            cursor pointer
            &.left
                left 20px
                background-image: url(../../img/invite-act/left-icon.png)
            &.right
                right 20px
                background-image: url(../../img/invite-act/right-icon.png)
        .content
            padding-left 25%
            padding-top 41px
            p
                color: #999999
                font-size: 18px
                text-align: left
        .btn
            width: 178px
            height 50px
            border-radius: 25px
            margin 50px auto 0
            text-align: center
            font-size: 24px
            line-height: 50px
    .prize-card-wrap
        margin-top: 29px
        width: 920px
        margin-left: 5px
        .item
            display: inline-block
            width: 30%
            margin-left 10px
            background-color: #f9f8f6
            border-radius: 10px
            padding 10px 10px
            &:first-child
                margin-left 0
            .pic
                width 80px
                height 80px
                border-radius: 80px
                background-color: #000
                margin 10px auto
            .pic-txt
                text-align: center
                color: #333333
                font-size: 24px
                padding-bottom: 38px
            .content
                margin 0 auto
                width 55%
                p
                    font-size: 18px
                    color: #333333
                    padding-bottom: 8px
                    span
                        padding-left 10px
                    .write-icon
                        width: 25px
                        height 21px
                        display inline-block
                        background-image: url(../../img/invite-act/write-icon.png)
                        margin-left 10px
                .address
                    border 1px solid red
                    padding 5px
                    overflow hidden
                    white-space: nowrap
                    text-overflow: ellipsis
            .get
                width 78px
                height 35px
                border-radius: 17.5px
                background-color: #8cc152
                color #ffffff
                font-size: 24px
                display: block
                margin  83px auto 40px




    .prize-card
        font-size 0
        border-bottom 1px solid #eeeeee
        width 100%
        .item
            font-size: 20px
            color green
            padding 10px 
            width 80px
            border-bottom 3px solid green 
    .card-list
        padding 10px 10px 30px
        .card
            margin 5px
            border-radius 17px
            display inline-block
            width 45%
            .content-wrap
                display: flex
                .card-content
                    &.left
                        flex: 20%
                        padding 5px 0 5px 10px
                        border 1px solid red
                        display block
                        p
                            color #ffffff
                            font-size 16px
                            &.en
                                font-size: 20px
                                font-weight: bold
                        .card-img
                            width 48px
                            height 48px
                            border-radius 48px
                            border 2px solid #eeeeee
                    &.middle
                        flex 80%
                        border 1px solid yellow 
                        padding 5px 0 5px 10px
                        position relative
                        p,span
                            color #ffffff
                            font-size 16px
                        span
                            padding-left 5px
                        .btn
                            padding 5px 20px
                            position absolute
                            right 5%
                            top 10%
                        
                    &.right
                        flex 1
                        border 1px solid blue
                        padding 5px 0 5px 10px
                        display flex
                        .btn
                            padding 5px 20px
                            margin auto
    .search-form-wrap
        font-size 0
        display block
        height 50px
        .item
            float left
            color #999999
            font-size: 20px
            padding 10px
            cursor pointer
            &.active
                color green 
                border-bottom 3px solid green
    .search-form-list
        display none
        &.active
            display block
        table
            width 100%
            thead 
                background-color #ddd
                padding 10px
                tr
                    th
                        padding 10px
            tbody
                text-align center
                tr
                    border-bottom 1px solid #eeeeee
                    td 
                        padding 10px
                        
.cjdl-modal
    .modal-wrap
        width: 820px
        .modal-header
            border none
            .close-mask
                margin-top 5px
                width 18px
                height 18px
                cursor pointer
                background-repeat: no-repeat
                background-image: url(../../img/close.png)
                background-position:  center
            .title
                text-align: center;
                width: 100%;
                color: #c8a258;
                padding: 30px 0
                font-size: 30px
        .modal-body
            display block
            p
                text-align center
            .more
                margin 0 auto
                display block
                width 50% 
                text-align center
                color: #999999
                font-size: 18.1px
            .success-img
                margin 0 auto
                width: 50%
            table
                width: 100%
                margin 0 auto
                tbody
                    tr
                        text-align: center
                        td 
                            font-size: 24px
                            color: #333333
                            padding 0 0 28px
                            &.time
                                font-size: 18px
                                color: #999999
                            &.wait
                                color: #8cc152
                                font-size: 24px
                            &.error
                                color: #fe003c
                                font-size: 24px
                            span
                                display: block
                            .turn-time
                                font-size: 18px
                                color: #999999
                                padding-left 85px
                            .small
                                font-size: 18px