<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <%= require('html-loader!../meta.html') %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

<div class="left-round"></div>
<div class="left-item"></div>
<div class="right-round"></div>
<div class="other"></div>

<div class="log-container fix">
    <a href="../index.html" class="logo">
        <i class="icon"></i>
        <p class="text">快币浏览器 · <span>区块链世界的传送门</span></p>
    </a>
    <div class="form-wrap" id="step-1">
        <div class="link-wrap fix">
            <a href="javascript:;" class="link active" style="width: 100%;">找回密码 · 安全验证</a>
        </div>
        <div class="form-control">
            <i class="inp-icon phone"></i>
            <input type="text" data-valid="require" id="fpMobile" maxlength="11" placeholder="请输入手机号码" value="">
            <span class="hint-err"></span>
            <i class="icon-err"></i>
        </div>
        <div class="form-control">
            <i class="inp-icon cap"></i>
            <input type="text" data-valid="require" id="CaptchaCode" placeholder="请输入图形验证码"
                   maxlength="16">
            <div id="captchCodeImg" style="display: inline-block">

            </div>
            <span class="hint-err"></span>
            <i class="icon-err"></i>
        </div>
        <div class="form-control" style="margin-bottom: 10px">
            <i class="inp-icon vCode"></i>
            <input type="text" data-valid="require" id="getvCode" placeholder="请输入短信验证码"
                   maxlength="16">
            <i class="icon-err"></i>
            <span class="hint-err"></span>
            <button class="getvCode-btn" id="forgetPasswordGetvCode">发送验证码</button>
        </div>
        <div class="form-control fix">
            <a href="./sign.html" class="forgetpassword" style="text-decoration: underline;margin-bottom: 20px">已有账号</a>
        </div>
        <div class="form-control" style="margin-top: 0">
            <button class="submit" id="getKeyCode" style="margin-top: 60px">下一步</button>
        </div>

        <p class="bottom-text">欢迎来到快币浏览器 www.kuaibi888.com</p>
    </div>

    <div class="form-wrap" id="step-2" style="display: none">
        <div class="link-wrap fix">
            <a href="javascript:;" class="link active" style="width: 100%;">找回密码 · 安全验证</a>
        </div>
        <div class="form-control">
            <i class="inp-icon lock"></i>
            <input type="password" autocomplete="new-password" data-valid="require, password" id="newPwd"
                   placeholder="请输入6-15位密码"
                   value=""
                   maxlength="15">
            <span class="hint-err"></span>
            <i class="icon-err"></i>
        </div>
        <div class="form-control">
            <i class="inp-icon lock"></i>
            <input type="password" autocomplete="new-password" data-valid="require, repeatPassword" id="newPwd2"
                   placeholder="请再次输入密码"
                   maxlength="15">
            <span class="hint-err"></span>
            <i class="icon-err"></i>
        </div>
        <div class="form-control" style="margin-top: 0">
            <button class="submit" id="forgetPasswordSubmit">确定</button>
        </div>

        <p class="bottom-text">欢迎来到快币浏览器 www.kuaibi888.com</p>
    </div>
    <div class="img-wrap"></div>
</div>
</body>
</html>